body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 20px;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(252, 70, 107) 100%);
}
#button_calculer{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}
.error{
    color:pink;
    padding-top: 2%;
    font-size: small;

}
.form-container {
    border: 1.5px solid #3e1652; 
    padding: 40px; 
    margin: 20px auto;
    max-width: 600px;
    background-color:#282c91; 
    border-radius: 30px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1); 
    word-wrap: break-word;
}
.top-image {
    display: block; 
    margin: 0 auto; 
    max-width: 40%;
    height: auto; 
    border-radius: 200px;
}


label {
    display: block;
    margin-top: 20px;
}

input, select, button {
    margin-top: 5px;
    box-sizing: border-box;
    font-size: large;
    border-radius: 15px;
    border: 2px solid black;
    margin: 3% 1% 0 0;
}
button {
    background-color:#3f5efb;
    border-radius: 25px;
    color: white;
    padding: 2%; /* Example: Add more padding */
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
    border: 2px solid white;
    width: 70%;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
}

button:disabled {
    background-color:#1f2649;
    border-radius: 25px;
    color: rgb(163, 154, 154);
    padding: 2%; /* Example: Add more padding */
    border: 2px solid  rgb(163, 154, 154);
    width: 70%;
    cursor: default;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
}
#calculationResult {
    margin-top: 20px;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    color: #ffb6fd;
}#claimsDetails{
    display: none;
}